/Properties.Solution/.vs/Properties.Solution/CopilotIndices/17.14.995.13737/CodeChunks.db
/Properties.Solution/.vs/Properties.Solution/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
/Properties.Solution/.vs/Properties.Solution/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
/Properties.Solution/.vs/Properties.Solution/CopilotIndices/17.14.995.13737/SemanticSymbols.db
/Properties.Solution/.vs/Properties.Solution/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
/Properties.Solution/.vs/Properties.Solution/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
/Properties.Solution/.vs/Properties.Solution/DesignTimeBuild/.dtbcache.v2
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/18952306-351e-44df-a247-089530fa6c91.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/1c107a38-ab0b-4d89-8975-7e2f35d64be6.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/47854844-80a3-431a-91cd-073235a49e9a.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/5fede8cd-7f45-4ba8-ab4b-bfd54195c1ed.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/86bac14a-85e6-46ce-9091-a4fba6454152.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/8e95d644-affc-483e-b990-4fdf653f3c82.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/a513a4d1-9d0f-454d-b0bd-a560cddebd1c.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/b51b823b-f363-4df9-9686-3cef48df8899.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/b8ac6a0a-384e-4b17-b8e0-8482137f4131.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/ee4911f9-1a4d-458d-aca6-32d5ca8e43bf.vsidx
/Properties.Solution/.vs/Properties.Solution/v17/.suo
/Properties.Solution/.vs/Properties.Solution/v17/DocumentLayout.backup.json
/Properties.Solution/.vs/Properties.Solution/v17/DocumentLayout.json
/Properties.Solution/.vs/Properties.Solution/DesignTimeBuild/.dtbcache.v2
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/47854844-80a3-431a-91cd-073235a49e9a.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/8e95d644-affc-483e-b990-4fdf653f3c82.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/a513a4d1-9d0f-454d-b0bd-a560cddebd1c.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/b51b823b-f363-4df9-9686-3cef48df8899.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/ee4911f9-1a4d-458d-aca6-32d5ca8e43bf.vsidx
/Properties.Solution/.vs/Properties.Solution/v17/.suo
/Properties.Solution/.vs/Properties.Solution/v17/DocumentLayout.backup.json
/Properties.Solution/.vs/Properties.Solution/v17/DocumentLayout.json
