/Properties.Solution/.vs/Properties.Solution/CopilotIndices/17.14.995.13737/CodeChunks.db
/Properties.Solution/.vs/Properties.Solution/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
/Properties.Solution/.vs/Properties.Solution/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
/Properties.Solution/.vs/Properties.Solution/CopilotIndices/17.14.995.13737/SemanticSymbols.db
/Properties.Solution/.vs/Properties.Solution/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
/Properties.Solution/.vs/Properties.Solution/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
/Properties.Solution/.vs/Properties.Solution/DesignTimeBuild/.dtbcache.v2
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/25a68f3e-57fa-4a16-80be-adeea1cb4ff1.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/6897aed2-d626-48aa-8cb0-5d265993c7c8.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/98c58ce5-5d2f-49e8-a3f1-a2c323db8480.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/bf79efe8-9edc-40eb-97de-3f59dea63b4b.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/e44f7777-5b4c-4134-b0f1-acbae0d556f9.vsidx
/Properties.Solution/.vs/Properties.Solution/v17/.suo
/Properties.Solution/.vs/Properties.Solution/v17/DocumentLayout.backup.json
/Properties.Solution/.vs/Properties.Solution/v17/DocumentLayout.json
/Properties.Solution/Properties.API/bin/Debug/net8.0/appsettings.json
/Properties.Solution/Properties.API/bin/Debug/net8.0/Properties.API.dll
/Properties.Solution/Properties.API/bin/Debug/net8.0/Properties.API.exe
/Properties.Solution/Properties.API/bin/Debug/net8.0/Properties.API.pdb
/Properties.Solution/Properties.API/bin/Debug/net8.0/serilog.json
/Properties.Solution/Properties.API/obj/Debug/net8.0/apphost.exe
/Properties.Solution/Properties.API/obj/Debug/net8.0/Properties.API.AssemblyInfo.cs
/Properties.Solution/Properties.API/obj/Debug/net8.0/Properties.API.AssemblyInfoInputs.cache
/Properties.Solution/Properties.API/obj/Debug/net8.0/Properties.API.csproj.FileListAbsolute.txt
/Properties.Solution/Properties.API/obj/Debug/net8.0/Properties.API.dll
/Properties.Solution/Properties.API/obj/Debug/net8.0/Properties.API.genruntimeconfig.cache
/Properties.Solution/Properties.API/obj/Debug/net8.0/Properties.API.pdb
/Properties.Solution/Properties.API/obj/Debug/net8.0/Properties.API.sourcelink.json
/Properties.Solution/Properties.API/obj/Debug/net8.0/ref/Properties.API.dll
/Properties.Solution/Properties.API/obj/Debug/net8.0/refint/Properties.API.dll
/Properties.Solution/Properties.API/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/Properties.Solution/Properties.API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/Properties.Solution/Properties.API/obj/Debug/net8.0/rpswa.dswa.cache.json
/Properties.Solution/Properties.Contracts/bin/Debug/net8.0/Properties.Contracts.dll
/Properties.Solution/Properties.Contracts/bin/Debug/net8.0/Properties.Contracts.pdb
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/Properties.Contracts.AssemblyInfo.cs
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/Properties.Contracts.AssemblyInfoInputs.cache
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/Properties.Contracts.csproj.CoreCompileInputs.cache
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/Properties.Contracts.csproj.FileListAbsolute.txt
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/Properties.Contracts.dll
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/Properties.Contracts.pdb
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/Properties.Contracts.sourcelink.json
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/ref/Properties.Contracts.dll
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/refint/Properties.Contracts.dll
/Properties.Solution/Properties.Domain/bin/Debug/net8.0/Properties.Contracts.dll
/Properties.Solution/Properties.Domain/bin/Debug/net8.0/Properties.Contracts.pdb
/Properties.Solution/Properties.Domain/bin/Debug/net8.0/Properties.Domain.deps.json
/Properties.Solution/Properties.Domain/bin/Debug/net8.0/Properties.Domain.dll
/Properties.Solution/Properties.Domain/bin/Debug/net8.0/Properties.Domain.pdb
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properti.BEAC3A22.Up2Date
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.AssemblyInfo.cs
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.AssemblyInfoInputs.cache
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.csproj.AssemblyReference.cache
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.csproj.CoreCompileInputs.cache
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.csproj.FileListAbsolute.txt
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.dll
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.pdb
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.sourcelink.json
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/ref/Properties.Domain.dll
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/refint/Properties.Domain.dll
/Properties.Solution/Properties.Domain/obj/project.assets.json
/Properties.Solution/Properties.Domain/obj/project.nuget.cache
/Properties.Solution/Properties.Domain/obj/Properties.Domain.csproj.nuget.dgspec.json
/Properties.Solution/Properties.Infrastructure/bin/Debug/net8.0/Properties.Application.dll
/Properties.Solution/Properties.Infrastructure/bin/Debug/net8.0/Properties.Application.pdb
/Properties.Solution/Properties.Infrastructure/bin/Debug/net8.0/Properties.Contracts.dll
/Properties.Solution/Properties.Infrastructure/bin/Debug/net8.0/Properties.Contracts.pdb
/Properties.Solution/Properties.Infrastructure/bin/Debug/net8.0/Properties.Domain.dll
/Properties.Solution/Properties.Infrastructure/bin/Debug/net8.0/Properties.Domain.pdb
/Properties.Solution/Properties.Infrastructure/bin/Debug/net8.0/Properties.Infrastructure.deps.json
/Properties.Solution/Properties.Infrastructure/bin/Debug/net8.0/Properties.Infrastructure.dll
/Properties.Solution/Properties.Infrastructure/bin/Debug/net8.0/Properties.Infrastructure.pdb
/Properties.Solution/Properties.Infrastructure/bin/Debug/net8.0/Properties.Infrastructure.runtimeconfig.json
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properti.BA946EF3.Up2Date
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.AssemblyInfo.cs
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.AssemblyInfoInputs.cache
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.assets.cache
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.csproj.AssemblyReference.cache
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.csproj.CoreCompileInputs.cache
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.csproj.FileListAbsolute.txt
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.dll
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.genruntimeconfig.cache
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.pdb
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.sourcelink.json
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/ref/Properties.Infrastructure.dll
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/refint/Properties.Infrastructure.dll
/Properties.Solution/Properties.Infrastructure/obj/project.assets.json
/Properties.Solution/Properties.Infrastructure/obj/project.nuget.cache
/Properties.Solution/Properties.Infrastructure/obj/Properties.Infrastructure.csproj.nuget.dgspec.json
/Properties.Solution/Properties.Infrastructure/obj/Properties.Infrastructure.csproj.nuget.g.props
/Properties.Solution/Properties.Infrastructure/obj/Properties.Infrastructure.csproj.nuget.g.targets
/Properties.Solution/Properties.Tests/bin/Debug/net8.0/Properties.Tests.dll
/Properties.Solution/Properties.Tests/bin/Debug/net8.0/Properties.Tests.pdb
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/Properties.Tests.AssemblyInfo.cs
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/Properties.Tests.AssemblyInfoInputs.cache
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/Properties.Tests.csproj.FileListAbsolute.txt
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/Properties.Tests.dll
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/Properties.Tests.pdb
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/Properties.Tests.sourcelink.json
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/ref/Properties.Tests.dll
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/refint/Properties.Tests.dll
/Properties.Solution/Propierties.Application/bin/Debug/net8.0/Properties.Application.deps.json
/Properties.Solution/Propierties.Application/bin/Debug/net8.0/Properties.Application.dll
/Properties.Solution/Propierties.Application/bin/Debug/net8.0/Properties.Application.pdb
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Properties.Application.AssemblyInfo.cs
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Properties.Application.AssemblyInfoInputs.cache
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Properties.Application.assets.cache
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Properties.Application.csproj.CoreCompileInputs.cache
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Properties.Application.csproj.FileListAbsolute.txt
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Properties.Application.dll
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Properties.Application.GeneratedMSBuildEditorConfig.editorconfig
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Properties.Application.GlobalUsings.g.cs
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Properties.Application.pdb
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Properties.Application.sourcelink.json
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Propierties.Application.AssemblyInfo.cs
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Propierties.Application.sourcelink.json
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/ref/Properties.Application.dll
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/refint/Properties.Application.dll
/Properties.Solution/Propierties.Application/obj/project.assets.json
/Properties.Solution/Propierties.Application/obj/project.nuget.cache
/Properties.Solution/Propierties.Application/obj/Properties.Application.csproj.nuget.dgspec.json
/Properties.Solution/Propierties.Application/obj/Properties.Application.csproj.nuget.g.props
/Properties.Solution/Propierties.Application/obj/Properties.Application.csproj.nuget.g.targets
/Properties.Solution/.vs/Properties.Solution/DesignTimeBuild/.dtbcache.v2
/Properties.Solution/.vs/Properties.Solution/v17/.suo
/Properties.Solution/.vs/Properties.Solution/v17/DocumentLayout.backup.json
/Properties.Solution/.vs/Properties.Solution/v17/DocumentLayout.json
/Properties.Solution/Properties.API/bin/Debug/net8.0/appsettings.json
/Properties.Solution/Properties.API/bin/Debug/net8.0/Properties.API.dll
/Properties.Solution/Properties.API/bin/Debug/net8.0/Properties.API.exe
/Properties.Solution/Properties.API/obj/Debug/net8.0/apphost.exe
/Properties.Solution/Properties.API/obj/Debug/net8.0/Properties.API.AssemblyInfo.cs
/Properties.Solution/Properties.API/obj/Debug/net8.0/Properties.API.AssemblyInfoInputs.cache
/Properties.Solution/Properties.API/obj/Debug/net8.0/Properties.API.csproj.FileListAbsolute.txt
/Properties.Solution/Properties.API/obj/Debug/net8.0/Properties.API.dll
/Properties.Solution/Properties.API/obj/Debug/net8.0/Properties.API.genruntimeconfig.cache
/Properties.Solution/Properties.API/obj/Debug/net8.0/Properties.API.pdb
/Properties.Solution/Properties.API/obj/Debug/net8.0/ref/Properties.API.dll
/Properties.Solution/Properties.API/obj/Debug/net8.0/refint/Properties.API.dll
/Properties.Solution/Properties.API/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/Properties.Solution/Properties.API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/Properties.Solution/Properties.API/obj/Debug/net8.0/rpswa.dswa.cache.json
/Properties.Solution/Properties.Contracts/bin/Debug/net8.0/Properties.Contracts.dll
/Properties.Solution/Properties.Contracts/bin/Debug/net8.0/Properties.Contracts.pdb
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/Properties.Contracts.AssemblyInfo.cs
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/Properties.Contracts.AssemblyInfoInputs.cache
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/Properties.Contracts.csproj.CoreCompileInputs.cache
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/Properties.Contracts.csproj.FileListAbsolute.txt
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/Properties.Contracts.dll
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/Properties.Contracts.pdb
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/ref/Properties.Contracts.dll
/Properties.Solution/Properties.Contracts/obj/Debug/net8.0/refint/Properties.Contracts.dll
/Properties.Solution/Properties.Domain/bin/Debug/net8.0/Properties.Domain.deps.json
/Properties.Solution/Properties.Domain/bin/Debug/net8.0/Properties.Domain.dll
/Properties.Solution/Properties.Domain/bin/Debug/net8.0/Properties.Domain.pdb
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.AssemblyInfo.cs
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.AssemblyInfoInputs.cache
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.csproj.CoreCompileInputs.cache
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.csproj.FileListAbsolute.txt
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.dll
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.pdb
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/ref/Properties.Domain.dll
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/refint/Properties.Domain.dll
/Properties.Solution/Properties.Domain/obj/project.assets.json
/Properties.Solution/Properties.Domain/obj/project.nuget.cache
/Properties.Solution/Properties.Domain/obj/Properties.Domain.csproj.nuget.dgspec.json
/Properties.Solution/Properties.Infrastructure/bin/Debug/net8.0/Properties.Infrastructure.deps.json
/Properties.Solution/Properties.Infrastructure/bin/Debug/net8.0/Properties.Infrastructure.dll
/Properties.Solution/Properties.Infrastructure/bin/Debug/net8.0/Properties.Infrastructure.pdb
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.AssemblyInfo.cs
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.AssemblyInfoInputs.cache
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.assets.cache
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.csproj.CoreCompileInputs.cache
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.csproj.FileListAbsolute.txt
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.dll
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.pdb
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/ref/Properties.Infrastructure.dll
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/refint/Properties.Infrastructure.dll
/Properties.Solution/Properties.Infrastructure/obj/project.assets.json
/Properties.Solution/Properties.Infrastructure/obj/project.nuget.cache
/Properties.Solution/Properties.Infrastructure/obj/Properties.Infrastructure.csproj.nuget.dgspec.json
/Properties.Solution/Properties.Infrastructure/obj/Properties.Infrastructure.csproj.nuget.g.props
/Properties.Solution/Properties.Infrastructure/obj/Properties.Infrastructure.csproj.nuget.g.targets
/Properties.Solution/Properties.Tests/bin/Debug/net8.0/Properties.Tests.dll
/Properties.Solution/Properties.Tests/bin/Debug/net8.0/Properties.Tests.pdb
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/Properties.Tests.AssemblyInfo.cs
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/Properties.Tests.AssemblyInfoInputs.cache
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/Properties.Tests.csproj.FileListAbsolute.txt
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/Properties.Tests.dll
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/Properties.Tests.pdb
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/ref/Properties.Tests.dll
/Properties.Solution/Properties.Tests/obj/Debug/net8.0/refint/Properties.Tests.dll
/Properties.Solution/Propierties.Application/obj/project.assets.json
/Properties.Solution/Propierties.Application/obj/project.nuget.cache
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/26d2b9bf-f80a-4040-8e6c-6ee03723dd4e.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/70dee53e-2b9f-4a33-a920-0ccadd3f9ac0.vsidx
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.AssemblyInfo.cs
/Properties.Solution/Properties.Domain/obj/Debug/net8.0/Properties.Domain.AssemblyInfoInputs.cache
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.AssemblyInfo.cs
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.AssemblyInfoInputs.cache
/Properties.Solution/Properties.Infrastructure/obj/Debug/net8.0/Properties.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/084fa855-9142-42cf-a4dd-fe0b85d31a74.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/6e36dc13-1660-47cf-aee9-1109b10f8ea2.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/91072a2e-fb6b-4000-8fdf-487919576f7c.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/98cbec8e-19b4-4373-b867-1d5885f0c118.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/b9270c26-9ef6-4653-ac3c-5ac70eb4359e.vsidx
/Properties.Solution/Propierties.Application/bin/Debug/net8.0/Properties.Contracts.dll
/Properties.Solution/Propierties.Application/bin/Debug/net8.0/Properties.Contracts.pdb
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Properti.CFDE614E.Up2Date
/Properties.Solution/Propierties.Application/obj/Debug/net8.0/Properties.Application.csproj.AssemblyReference.cache
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/37fa29c4-ee66-4e22-b8ea-d26439c7df4f.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/4639da81-dc07-4019-b5a0-69331f5f6348.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/4cc44273-3cd6-4969-bfe3-0f33e0c3d5c2.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/c1e2bdd8-78ca-4176-a36a-4b2faedb0e29.vsidx
/Properties.Solution/.vs/ProjectEvaluation/properties.solution.metadata.v9.bin
/Properties.Solution/.vs/ProjectEvaluation/properties.solution.projects.v9.bin
/Properties.Solution/.vs/ProjectEvaluation/properties.solution.strings.v9.bin
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/491bdba2-2a14-40f8-bd2c-37bf5b099f1b.vsidx
/Properties.Solution/.vs/Properties.Solution/FileContentIndex/513b9f8d-8c64-44f6-a2b9-7836b7c5b46a.vsidx
/Properties.Solution/.vs/Properties.Solution/v17/.futdcache.v2
