<div class="triangle"> 
    <div class="containerModal"> 
        <div class="divContainerButton">
            <div class="buttonActions fa fa-camera-retro" (click)="invokeWatchClickEvent()">
                Ver
            </div>
            <div class="separator"></div>
            <div class="buttonActions fa fa-pencil" (click)="invokeEditClickEvent()">
                Editar
            </div>
            <div class="separator"></div>
            <div class="buttonActions fa fa-trash" (click)="invokeDeleteClickEvent()">
                Eliminar
            </div>
            <div class="separator"></div>
            <div class="buttonActions fa fa-users" (click)="invokeWatchBeneficiariesClickEvent()">
                Beneficiarios
            </div>
        </div> 
    </div>
</div>