<div class="triangle"> 
    <div class="containerModal"> 
        <div class="divContainerButton">
            <div class="buttonActions fa fa-camera-retro" (click)="invokeWatchClickEvent()">
                <span>Ver</span>
            </div>
            <div class="separator"></div>
            <div class="buttonActions fa fa-pencil" (click)="invokeEditClickEvent()">
                <span>Editar</span>
            </div>
            <div *ngIf="!hidePropertiesButton" class="separator"></div>
            <div *ngIf="!hidePropertiesButton" class="buttonActions fa fa-users" (click)="invokeWatchPropertiesClickEvent()">
                <span>Propiedades</span>
            </div>
        </div> 
    </div>
</div>