
<div class="mat-app-backgroud basic-container">
	<div class="contain-main">
		<div class="contain-head">
			<div class="contain-title button" (click)="toggleCollapse()">Click para ver, añadir o modificar propiedades {{ ownerURLInformation }}</div> 
		</div>
		<div class="contain-body">
			<div id="addEdit" [class.collapsed]="isCollapsed" [class.expanded]="!isCollapsed">
				<div class="contain-table">
					<div class="form-container">
						<form #propertiesForm="ngForm">  
                
							<div class="form-group">
								<label class="labelText" title="Autocompletar, escriba una letra">Owner:</label> 
								<input type="text" title="Autocompletar, escriba una letra" 
								[(ngModel)]="searchOwnerTerm" (ngModelChange)="onSearchChange()" 
								(blur)="clearResults()" name="searchOwnerTerm" [disabled]="isSearchOwnerTermDisabled">
								<ul *ngIf="ownerResults.length">
									<li *ngFor="let owner of ownerResults" 
										(click)="selectOwner(owner)">{{ owner.name }} - {{ owner.identification }}
									</li>
								</ul>
							</div> 
                
							<div class="form-group">
								<label class="labelText" for="selectIdentificationType">Tipo Identificación:</label> 
								<div class="select-container-intern">
									<div class="select-container">
									  <select id="selectIdentificationType" 
											  name="selectIdentificationType"
											  placeholder="IdentificationType" 
											  [(ngModel)]="selectIdentificationType" 
											  required
											  #identificationTypeField="ngModel"
											  [ngClass]="{ 'select-container': true, 'ng-invalid': identificationTypeField.invalid && (identificationTypeField.dirty || identificationTypeField.touched) }">
										<option *ngFor="let option of identificationTypeOptions" 
												[value]="option.id">{{ option.name }}</option>
									  </select>
								  </div>
								</div>
							</div>  

							<div class="form-group">
								<label class="labelText" for="name">Nombre:</label>
								<input class="inputText" 
								type="text"
								id="name" 
								name="name" 
								[(ngModel)]="name"
								maxlength="50"
								required
								#nameField="ngModel"
								[ngClass]="{ 'inputText': true, 'ng-invalid': nameField.invalid && (nameField.dirty || nameField.touched) }">
							</div>
							
							<div class="form-group">
								<label class="labelText" for="identification">Identification:</label>
								<input class="inputText" 
								type="text" 
								id="identification" 
								name="identification" 
								[(ngModel)]="identification"
								maxlength="15"
								required
								#identificationField="ngModel"
								[ngClass]="{ 'inputText': true, 'ng-invalid': identificationField.invalid && (identificationField.dirty || identificationField.touched) }">
							</div>
							
							<div class="form-group">
								<label class="labelText" for="birthDay">Fecha de nacimiento:</label>
								<input class="inputText" 
								type="date" 
								id="birthDay" 
								name="birthDay" 
								[(ngModel)]="birthDay"
								required
								#birthDayField="ngModel"
								[ngClass]="{ 'inputText': true, 'ng-invalid': birthDayField.invalid && (birthDayField.dirty || birthDayField.touched) }">
							</div>
							
							<div class="form-group">
								<label class="labelText" for="curp">CURP:</label>
								<input class="inputText" 
								type="text" 
								id="curp" 
								name="curp" 
								[(ngModel)]="curp"
								maxlength="10"
								required
								#curpField="ngModel"
								appNumericInput
								[ngClass]="{ 'inputText': true, 'ng-invalid': curpField.invalid && (curpField.dirty || curpField.touched) }">
							</div>
							
							<div class="form-group">
								<label class="labelText" for="ssn">SSN:</label>
								<input class="inputText" 
								type="text" 
								id="ssn" 
								name="ssn" 
								[(ngModel)]="ssn"
								maxlength="10"
								required
								#ssnField="ngModel"
								appNumericInput
								[ngClass]="{ 'inputText': true, 'ng-invalid': ssnField.invalid && (ssnField.dirty || ssnField.touched) }">
							</div>
							
							<div class="form-group">
								<label class="labelText" for="phoneNumber">Número telefónico:</label>
								<input class="inputText" 
								type="text" 
								id="phoneNumber" 
								name="phoneNumber" 
								[(ngModel)]="phoneNumber"
								appNumericInput
								maxlength="10">
							</div> 
							
							<div class="form-group">
								<label class="labelText" for="participationPercentaje">Porcentaje de participación:</label>
								<input class="inputText" 
								type="text" 
								id="participationPercentaje" 
								name="participationPercentaje" 
								[(ngModel)]="participationPercentaje"
								appPercentajeInput
								maxlength="10"
								(blur)="validateParticipationTotal()">
							</div> 
							
						</form>
						<button class="button" type="submit" (click)="submitForm()" *ngIf="activateSubmitButton">Submit</button>
						<button class="button" (click)="resetForm()">Clear</button>
					</div>
				</div>
			</div>
			<div class="separator"></div>
			<app-beneficiary-list></app-beneficiary-list>
		</div>
	</div>
</div>