<div class="home-info">
    <h2>Propiedades y Propietarios</h2>
    <div class="separator"></div>
    <div>
      <pre>
        <h2>En la parte superior encontrara un control tipo lista:</h2>
        <h2>1 - Seleccione la opción Owners para interactuar con las opciones del propietario</h2> 
        <p>         - Crear, actualizar, eliminar y listar owners</p>
        <p>         - Seleccionar un owner para interactuar con el y añadir propiedades a su lista</p>
        <p>         - listar propiedades por cada propietario</p>
        <p>         - si pulsa la opción de listar propiedades por cada propietario, <br>
                  se cargará la opción de propiedades para ese único propietario</p>
        <h2>2 - Seleccione la opción Propiedades para interactuar con las opciones de propiedades</h2>
        <p>         - Crear, actualizar, eliminar y listar propiedades por cada propietario</p>
      </pre>
    </div>  
</div>
  